body {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100vh;
  background: #1a4530;
  background: linear-gradient(38deg, #1a4530 0%, #378a5f 41%, #90e05d 72%, #f1e892 100%);
}
body svg {
  fill: #e6fff7;
  stroke: #f7cd5a;
  stroke-width: 1px;
  margin-right: 10%;
}
body .container {
  position: relative;
  display: inline-block;
  padding: 10px;
}
body .container::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: linear-gradient(to right, #0055a4 0%, #0055a4 33.33%, #fff 33.33%, #fff 66.66%, #ef4135 66.66%, #ef4135 100%);
  z-index: -1;
}
body .container h1 {
  position: relative;
  z-index: 1;
  color: #000000;
  font-size: 32px;
  padding: 20px;
  margin: 0;
}
body .tooltip {
  position: absolute;
  width: 140px;
  padding: 15px 10px;
  border-radius: 4px;
  font-family: monospace;
  text-align: center;
  color: #fff;
  overflow: hidden;
  background-color: rgba(0, 0, 0, 0.5);
}
body #data-region {
  position: absolute;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  right: 0;
  top: 0%;
  overflow: hidden;
  width: 450px;
  height: 100vh;
  border: 1px solid #ccc;
  /* Couleur et épaisseur de la bordure */
  border-radius: 5px;
  /* Rayon des coins de la bordure */
  z-index: 1;
  background-color: rgba(0, 0, 0, 0.5);
}
body #data-region div {
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
}
body #data-region div img {
  width: 300px;
  height: 200px;
}
body #data-region ul {
  text-transform: uppercase;
  font-size: large;
  padding-right: 30%;
  list-style: none;
  color: #000000;
}
body #data-region ul li {
  margin: 4px 0;
}
body #data-region ul li span {
  font-weight: bolder;
  font-size: medium;
}
body #data-region ul #dep {
  font-size: small;
  list-style: inside;
}
body #data-region ul #dep li {
  font-weight: bolder;
}
